{% include "template.html" %}

{% block body %}
<h4 class="inline-block">Tracked Flights</h4>
<a href="{{ url_for('flight_search') }}" class="add">+</a>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Flight Type</th>
      <th scope="col">Date Range</th>
      <th scope="col">Max Stopovers</th>
      <th scope="col">Max Flight Duration</th>
      <th scope="col">Max Price</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    {% for flight in tracked_flights %}
      <tr>
        <td>{{ flight.fly_from }}</td>
        <td>{{ flight.fly_to }}</td>
        <td>{{ flight.flight_type }}</td>
        <td>{{ flight.date_from + ' - ' + flight.date_to }}</td>
        <td>{{ flight.max_stopovers }}</td>
        <td>{{ flight.max_fly_duration }}</td>
        <td>{{ flight.price }}</td>
        <td>
          <a href="{{ url_for('edit', flight_id=flight.id) }}" class="btn btn-primary">Edit</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
