.swiper {
  width: 100%;
  padding: 50px 0;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.reviews {
  display: flex;
  flex-direction: row;
  gap: 5%;
  /* justify-content: flex-start;
  align-items: space-between;
  background-color: rgb(144, 199, 199);
  height: 200px;
  width: auto;
  border-radius: 5%; */
}
